extends layout

block content
    .container
        .jubmo
            h1 Hello World!
            make your own polls , and view others ...
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            br
            br
        each poll in polls
            .row
                each item in poll
                    .column
                        canvas(id= item._id width=300 height=300)
                        ul
                            each ans,index in item.answers
                                li
                                    .legend
                                        .box(style='background-color: '+bg[index])
                                        .ans(data=ans._id data-canvasID=item._id data-votes=ans.votes)= ans.answer
