extends layout

block content
    .container
        .jubmo
            h1 Hello World!
            p Make your own polls , and view others ... Just sign in with your twitter-account and try it out. . . . . .  
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum neque ante, feugiat at nisi non, interdum sodales tortor. Donec rhoncus velit sem. Integer scelerisque, arcu eget congue imperdiet, ante eros elementum metus, in fermentum quam augue sed ipsum. In hac habitasse platea dictumst. Morbi volutpat purus non pellentesque laoreet. Aliquam vestibulum, nunc et ultrices hendrerit, diam augue pretium metus, ac consectetur tellus risus in velit. In vel massa vel dolor elementum interdum id dictum risus. Phasellus finibus lobortis nulla, nec congue orci dignissim a. Donec vitae efficitur risus. Duis neque ipsum, fringilla vel enim a, rhoncus ullamcorper quam. Nunc lacus arcu, porttitor quis ante et, mollis aliquam erat. Mauris consectetur odio nisl, at ultricies metus convallis eu.
            
            br
            br
        each poll in polls
            .row
                each item in poll
                    .column.border
                        .indexTopic(data-id= item._id)
                            h5.center= item.question
                        canvas(id= item._id data-id= item._id width=300 height=300)
                        ul
                            each ans,index in item.answers
                                li
                                    .legend
                                        .box(style='background-color: '+bg[index])
                                        .ans(data=ans._id data-canvasID=item._id data-votes=ans.votes)= ans.answer
