extends layout

block content
    .container
        each poll in polls
            .row
                each item in poll
                    .column
                        canvas(id= item._id width=300 height=300)
                        ul
                            each ans,index in item.answers
                                li
                                    .legend
                                        .box(style='background-color: '+bg[index])
                                        .ans(data=ans._id data-canvasID=item._id data-votes=ans.votes)= ans.answer
                                        .count= ans.votes
