doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js')
        script(src='/public/jquery-3.1.0.min.js')
        script(src='/public/script.js')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css')
        link(rel='stylesheet', href='/public/style.css')
    body
        ul.nav
            li
                a(href='/') List Polls
            li
                a(href='/add') Add Poll
    .container
        block content
