extends layout

block content
    .container
        .row
            .column.column-33
                h3 User Details :
                ul
                    li 
                        h5 USERID
                            .thin.right= user.id
                    li 
                        h5 USERNAME 
                            .thin.right= user.username
                    li 
                        h5 REALNAME  
                            .thin.right= user.displayName
            .column.column-67.strike
                h3 Your Polls :
                ul
                    each poll in polls
                        each item in poll
                            li
                                h5= item.question
                                    a(href='/delete/'+item._id onclick="return confirm('Are you sure you want to delete the poll?')")
                                        button.right.red X
                                    a(href='/view/'+item._id)
                                        button.right View Poll
                                    