extends layout

block content
    .container
        .row
            .column
                h3= poll[0].question
                span='Created at: ' + moment(poll[0].created_at).format("YYYY/MM/DD  hh:mm")
                br
                br
                ul
                    each ans,index in poll[0].answers
                        li
                            .legend
                                .box(style='background-color: '+bg[index])
                                .ans.vote(data=ans._id data-canvasID=poll[0]._id data-votes=ans.votes)= ans.answer
                br
                br
                | Vote by clicking the legend labels.
                br
                br
                a(href="https://twitter.com/share")
                    button Tweet this poll

            .column
                canvas(id= poll[0]._id width=500 height=500)

